<table  class="table">
    <tr>
        <th><input type="checkbox" class="selectall" onclick="selectunselect()"></th>
        <th>{{ __("Payment") }}</th>
        <th>{{ __("Posting date") }}</th>
        <th>{{ __("Amount") }}</th>
        <th>{{ __("Party Name") }}</th>
        <th>{{ __("Purchase Invoice") }}</th>
        <th>{{ __("Account") }}</th>
    </tr>
    {% for payment in payments %}
    <tr>
        <td><input class="inputcheck" type="checkbox" id="chk{{ payment.name }}" name="{{ payment.name }}" onclick=getfindSelected()></td>
        <td><a href="/desk/Form/Payment Entry/{{ payment.name }}">{{ payment.name }}</a></td>
        <td>{{ payment.posting_date }}</td>
        <td>{{ payment.paid_to_account_currency }}&nbsp;{{ payment.paid_amount }}</td>
        <td><a href="/desk/Form/Supplier/{{ payment.party }}">{{ payment.party_name }}</a></td>
        {% if payment.reference_name|length > 1 %}
        <td>{% for row in payment.reference_name %}<a href="/desk/Form/Purchase Invoice/{{ row }}">{{ row }}</a>, {% endfor%}</td>
        {% else %}
        <td>{% for row in payment.reference_name %}<a href="/desk/Form/Purchase Invoice/{{ row }}">{{ row }}</a> {% endfor%}</td>
        {% endif %}
        <td>{{ payment.paid_from }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td></td>
        <td><b>Total Amount</b></td>
        <td><b>{{ total_paid_amount }}</b></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
